.judul {
	text-align: center;
	padding-top: 40px;
	background-color: #FFC300;
}
h3 {
	font-size: 25px;
	font-weight: bold;
	color: #B33F17;
}


/*info panel*/
	.info-panel {
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
		border-radius: 12px;
		margin-top: -20px;
		background-color: white;
		z-index: 1;
		padding: 30px;
	}
	.info-panel img{
		width: 75px;
		height: 75px;
		margin-right: 10px;
		margin-top: 8px;
	}
	.info-panel h4 {
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	.info-panel p {
		font-size: 15px;
		color: #303030;
		margin-top: -5px;
		font-weight: 200;
	}
	.float-left {
		float: left;
	}
	.kotak {
		background-color: #DBE7EF;
		border-radius: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.dropdown {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.story {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		background-color: #FFC300;
	}
	.foto img {
		width: 160px;
		border: 5px solid #B33F17;
		text-align: center;
	}
	.foto p {
		text-align: center;
	}
	.col-md-5, p {
		text-align: justify;
		margin-bottom: 40px;
	}
	.skip {
		text-align: center;
		display: inline-block;
	}
	footer {
		background-color: black;
		padding-bottom: 8px;
	}
	.pencet {
		text-align: center;
	}
	.staff h2{
		padding-top: 40px;
	}
	.about {
		padding-top: 40px;
	}



/*Mobile*/
	@media screen and (max-width: 768px) {
		.container {
			width: 80%;
		}
		.jumbotron {
			margin-top: 0px;
			height: 300px;
		}
		.jumbotron h1 {
			padding-top: 90px;
			font-size: 25px;
		}
		.info-panel {
			margin-top: -20px;
		}
		.kotak {
			margin-left: 0;
			margin-right: 0;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.yt {
			margin-top: 0;
		}
		.wa {
			margin-bottom: 0;
		}
	}
/*akhir mobile*/

h1, h2 {
  font-size: 30px;
  text-align: center;
  font-family: arial;
}
.area {
	background-color: #73B914;
}

.mulai {
  display: block;
  margin: auto;
  width: 100px;
  height: 25px;
  border-radius: 10px;
}

.game {
  width: 360px;
  margin: auto;
  cursor: url(../img/palu1.png), auto;
}

.gamer:active {
  cursor: url(../img/palu2.png), auto;
}

.panci {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  float: left;
}

.panci::after {
  content: '';
  display: block;
  width: 180px;
  height: 80px;
  background: url(../img/panci.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -2px;
}

.botak {
  width: 100%;
  height: 100%;
  background: url(../img/botak.png) bottom center no-repeat;
  background-size: 65%;
  position: absolute;
  top: 18px;
  transition: top 0.3s;
}

.panci.muncul .botak {
  top: -50px;
}
